/* General */
@font-face  { font-family: 'Open Sans'; src: url(../fonts/open-sans/OpenSans-Regular.ttf);  font-weight: normal; }
@font-face  { font-family: 'Open Sans'; src: url(../fonts/open-sans/OpenSans-Semibold.ttf); font-weight: bold;   }

html                     { min-height: 100%; /* Opera bg image fix */ height: 100%; overflow: auto; /* IE bg image fix */ }
body,table,select,input  { background-color: #ffffff; font-family: 'Open Sans',Calibri,Tahoma,sans-serif; font-size: 11px; cursor: default; }


table td  { vertical-align: top; }

#data_table td {padding: 2px 10px 2px 10px; border-top : 1px solid #999999;}

